{% extends 'shop/basic_layout.html' %}

{% block title %}Home{% endblock %}

{% block css %}
.col-md-3 {
  display: inline-block;
  margin-left: -4px;


.col-md-3 {
    width: 100%;
    height: auto;
}


}

}
{% endblock %}


{% block body %}

{% load static %}

<div>
  <div id="carouselExampleDark" class="carousel carousel-dark slide my-5" data-bs-ride="carousel">
    <div class="carousel-indicators">
      <button type="button" data-bs-target="#carouselExampleDark" data-bs-slide-to="0" class="active"
        aria-current="true" aria-label="Slide 1"></button>
        {% for i in range %}
      <button type="button" data-bs-target="#carouselExampleDark" data-bs-slide-to="{{i}}" aria-label="Slide 2"></button>
        {% endfor %}
    </div>

    
      <div class="container carousel-inner no-padding">
        <div class="carousel-item active">
          <div class="row">
            <div class="col-xs-3 col-sm-3 col-md-3">
              <div class="card" style="width: 13rem;">
                <img src="{% static 'shop/image/gasslighter.jpeg' %}" class="card-img-top" alt="...">
                <div class="card-body">
                  <h5 class="card-title">Card title</h5>
                  <p class="card-text">Active .</p>
                  <a href="#" class="btn btn-primary">Go somewhere</a>
                </div>
              </div>
            </div>
            {% for i in product|slice:"1:" %}
            <div class="col-xs-3 col-sm-3 col-md-3">
              <div class="card" style="width: 13rem;">
                <img src="{% static 'shop/image/gasslighter.jpeg' %}" class="card-img-top" alt="...">
                <div class="card-body">
                  <h5 class="card-title">tile</h5>
                  <p class="card-text">Some quick example text to build on the card title and make up the bulk of the
                    card's content.</p>
                  <a href="#" class="btn btn-primary">Go somewhere</a>
                </div>
              </div>
            </div>
            {% if forloop.counter|divisibleby:3 and forloop.counter > 0 and not forloop.last %}
          </div>/
        </div>
        <div class="carousel-item ">
          <div class="row">
          
            {% endif %}

            {% endfor %}
          
          </div>
        </div>

      </div>
      <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleDark" data-bs-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Previous</span>
      </button>
      <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleDark" data-bs-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Next</span>
      </button>
    
  </div>
</div>




{% endblock %}
