{% extends 'shop/basic_layout.html' %}

{% block title %}Tracker{% endblock %}
{% block css %}

}
{% endblock %}
{% block body %}
<kbd>Hare krishna</kbd>

<details>
    <summary>Mahamantro</summary>
    <p>Hare krishna hare krishna krishna krishna hare hare hare ramo hare ramo ramo ramo hare hare</p>
</details>

'<div class="p-1"><ol><li>Item</li><li>Item</li><li>Item</li><ol></br> <a href="#" id="checkOut" class="btn btn-sm btn-success">Check Out</a> <a href="#" class="btn btn-sm btn-danger">Clear Cart</a></div>'
{% endblock %}